doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login       
        link(rel="stylesheet", href="css/login.css")
    body 
       
        .container
            .login#login
                h3 What is your name?
                input(type="text" style="margin-right:1rem" id="username")
                button(onclick="login()") Register
                p(id="error")
            .chatbox
                .left 
                    .boxtitle User Online
                    ul(class="listuser" id="listuser")
                                 
                .right
                    div(id="room")
                    ul(class="listchat" id="listchat")
                        <li id="chatting" class='chatting'>Someone are chatting </li>
                    .input
                        input(id="textsend" type="text") 
                        button(id="send" onclick="send()") Send
        
    script(src="https://huynehihi.herokuapp.com/socket.io/socket.io.js"). 
    script(src="js/login.js").
    